@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-between {
    @apply flex justify-between items-center;
  }

  .section_container {
    @apply px-6 py-10 max-w-7xl mx-auto;
  }

  .text-30-extrabold {
    @apply text-[30px] font-extrabold text-white;
  }

  .text-30-bold {
    @apply text-[30px] font-bold text-black;
  }

  .text-14-normal {
    @apply font-normal text-sm text-white;
  }

  /* Hero */
  .primary_container {
    @apply w-full bg-primary min-h-[530px] pattern flex justify-center items-center flex-col py-10 px-6;
  }

  .heading {
    @apply uppercase bg-black px-6 py-3 mx-auto text-white sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl text-center my-5;
  }

  .sub-heading {
    @apply font-medium text-[20px] text-white max-w-2xl text-center break-words;
  }

  /* Search Form */
  .search-form {
    @apply max-w-3xl w-full min-h-[80px] bg-white border-[5px] border-black rounded-[80px] text-[24px] mt-8 px-5 flex flex-row items-center gap-5;
  }

  .search-input {
    @apply flex-1 font-bold placeholder:font-semibold placeholder:text-black w-full h-auto outline-none;
  }

  .search-btn {
    @apply size-[50px] rounded-full bg-black flex justify-center items-center !important;
  }

  /* Cards */
  .card_grid {
    @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
  }

  .card_grid-sm {
    @apply grid sm:grid-cols-2 gap-5;
  }

  .no-result {
    @apply text-black text-sm font-normal;
  }

  .story-card {
    @apply bg-white border-[5px] border-black py-6 px-5 rounded-[22px] shadow-200 hover:border-primary transition-all duration-500 hover:shadow-300 hover:bg-primary-100;
  }

  .story-card_date {
    @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-full group-hover:bg-white-100;
  }

  .story-card_desc {
    @apply font-normal text-[16px] line-clamp-2 my-3 text-black break-all;
  }

  .story-card_img {
    @apply w-full h-[164px] rounded-[10px] object-cover;
  }

  .story-card_btn {
    @apply rounded-full bg-black font-medium text-[16px] text-white px-5 py-3 !important;
  }

   .story-card_skeleton {
    @apply w-full h-96 rounded-[22px] bg-zinc-400;
  }

  .tag {
    @apply bg-secondary px-6 py-3 font-bold rounded-sm uppercase relative tag-tri;
  }

  .category-tag {
    @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-full;
  }

  /* STORY FORM */
  .story-form {
    @apply max-w-2xl mx-auto bg-white my-10 space-y-8 px-6;
  }

  .story-form_label {
    @apply font-bold text-[18px] text-black uppercase;
  }

  .story-form_input {
    @apply border-[3px] border-black px-5 py-7 text-[18px] text-black font-semibold rounded-full mt-3 placeholder:text-black !important;
  }

  .story-form_textarea {
    @apply border-[3px] border-black p-5 text-[18px] text-black font-semibold rounded-[20px] mt-3 placeholder:text-black !important;
  }

  .story-form_error {
    @apply text-red-500 mt-2 ml-5;
  }

  .story-form_editor {
    @apply mt-3 border-[3px] border-black text-[18px] text-black font-semibold placeholder:text-black !important;
  }

  .story-form_btn {
    @apply bg-primary hover:bg-primary-500 border-[3px] border-black rounded-full p-5 min-h-[70px] w-full font-bold text-[18px]  !important;
  }

  /* PROFILE */
  .profile_container {
    @apply w-full pb-10 pt-20 px-10 max-w-6xl mx-auto lg:flex-row flex-col flex gap-10;
  }

  .profile_card {
    @apply w-80 px-6 pb-6 pt-20 flex flex-col justify-center items-center bg-gradient-to-r from-yellow-400 to-orange-500 border-[5px] border-black shadow-100 rounded-[30px] relative z-0 h-fit max-lg:w-full;
  }

  .profile_title {
    @apply w-11/12 bg-white border-[5px] border-black rounded-[20px] px-5 py-3 absolute -top-9 after:absolute after:content-[''] after:-top-1 after:right-0 after:-skew-y-6 after:bg-black after:-z-[1] after:rounded-[20px] after:w-full after:h-[60px] before:absolute before:content-[''] before:-bottom-1 before:left-0  before:-skew-y-6 before:w-full before:h-[60px] before:bg-black  before:-z-[1] before:rounded-[20px] shadow-100;
  }

  .profile_image {
    @apply rounded-full object-cover border-[3px] border-black;
  }

  /* PROPERTIES */
  .pattern {
    background-image: linear-gradient(
            to right,
            transparent 49.5%,
            rgba(251, 232, 67, 0.2) 49.5%,
            rgba(251, 232, 67, 0.6) 50.5%,
            transparent 50.5%
    );
    background-size: 5% 100%;
    background-position: center;
    background-repeat: repeat-x;
  }

  .tag-tri {
    @apply before:content-[''] before:absolute before:top-2 before:left-2 before:border-t-[10px] before:border-t-black before:border-r-[10px] before:border-r-transparent after:content-[''] after:absolute after:bottom-2 after:right-2 after:border-b-[10px] after:border-b-black after:border-l-[10px] after:border-l-transparent;
  }
}